/* src/App.css */

.App {
  font-family: Inter, sans-serif;
  text-align: center;
}

textarea {
  width: 80%;
  margin-top: 20px;
  font-family: Inter;
}

select {
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-family: Inter;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  font-family: Inter;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
